<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.deepak.mybucket">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBucket">
        <activity android:name=".SettingActivity">

        </activity>
        <activity
            android:name=".others.OtherActivity"
            android:label="@string/others"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar">

        </activity>
        <activity
            android:name=".adventure.AdventureActivity"
            android:label="@string/adventures"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity
            android:name=".creativity.CreativityActivity"
            android:label="@string/creativity"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity
            android:name=".fitness.FitnessActivity"
            android:label="@string/fitness"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity
            android:name=".contribute.ContributeActivity"
            android:label="@string/contribution"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity
            android:name=".career.CareerActivity"
            android:label="@string/career"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity
            android:name=".Webseries.SeriesActivity"
            android:label="@string/series"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity
            android:name=".book.BookActivity"
            android:label="@string/books"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity
            android:name=".food.FoodActivity"
            android:label="@string/food"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity
            android:name=".travel.TravelActivity"
            android:label="@string/travel"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity
            android:name=".Movies.MovieActivity"
            android:label="@string/movies"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity
            android:name=".game.GameActivity"
            android:label="@string/games"
            android:parentActivityName=".MainActivity"
            android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>